<h1><%% translate(:editing, :default => "Editing %{model}", :model => <%= class_name %>.model_name.human, :scope => [:railties, :scaffold]) %></h1>

<%%= render 'form' %>

<%%= link_to translate(:show, :default => 'Show', :scope => [:railties, :scaffold]), @<%= singular_table_name %> %> |
<%%= link_to translate(:back, :default => 'Back', :scope => [:railties, :scaffold]), <%= index_helper %>_path %>
