<h1><%%= translate(:new, :default => "New %{model}", :model => <%= class_name %>.model_name.human, :scope => [:railties, :scaffold]) %></h1>

<%%= render 'form' %>

<%%= link_to translate(:back, :default => 'Back', :scope => [:railties, :scaffold]), <%= index_helper %>_path %>
